a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;

}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
.text-center {
  text-align: center;
  padding: initial !important;
}
.navbar{
  background-color: antiquewhite
}

a.nav-link {
  /*text-align: left;*/
}
img.square {
 
  border-radius: 50%;
  
}
img.squareon {
  border: 1px solid chartreuse;
}
img.squareoff {
   
  border: 1px solid red;
}
.sticky {
  position: fixed;
  z-index: 999;
}
