<div class="modal-header" ngxModalDraggable>
  <h4 class="modal-title pull-left">{{actionName}} ScanerBarcode</h4>
  <div [style.display]="'none'">
    {{ob.refobj$ | async|json}}
  </div>


  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>cam-barcode works!</p>

 
  <div style="margin: 0 auto;text-align:center;" class="row">
    <div class="col-md-12" style="top:10px;margin-bottom:20px">
       <button class="btn btn-primary">給我盤他們</button>
    </div>
    <div class="col-md-12" #targetCam style="top:10px;">
    </div>
    <div class="col-md-12" style="top:10px;">
      {{ob.data$|async|json}}
    </div>
  </div>
  <div class="row">
    
  </div>
</div>






